# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/rgbd_tum
Examples/RGB-D/rgbd_realsense_D435i
Examples/RGB-D/rgbd_tum_ar
Examples/RGB-D/rgbd_inseg

Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i

Examples/Monocular/mono_realsense_D435i
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi
Examples/Monocular/mono_realsense_t265

Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi
Examples/Stereo/stereo_realsense_t265
Examples/Stereo/stereo_realsense_D435i

Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi
Examples/Monocular-Inertial/mono_inertial_realsense_t265
Examples/Monocular-Inertial/mono_inertial_realsense_D435i
Examples/Monocular-Inertial/mono_inertial_realsense_D435i_2

Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi
Examples/Stereo-Inertial/stereo_inertial_realsense_t265
Examples/Stereo-Inertial/stereo_inertial_realsense_D435i


Examples/ROS/ORB_SLAM3/Mono
Examples/ROS/ORB_SLAM3/Mono_Inertial
Examples/ROS/ORB_SLAM3/MonoAR
Examples/ROS/ORB_SLAM3/RGBD
Examples/ROS/ORB_SLAM3/Stereo
Examples/ROS/ORB_SLAM3/Stereo_Inertial

Examples/Calibration/recorder_realsense_D435i

Examples/Tests/viewer_dataset
Examples/Tests/sophus_test

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/

Examples/ROS/PLVS/CMakeLists.txt.user
Examples/ROS/PLVS/Mono
Examples/ROS/PLVS/MonoAR
Examples/ROS/PLVS/RGBD
Examples/ROS/PLVS/Stereo
Examples/ROS/PLVS/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt

Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/

Thirdparty/g2o_new
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/

Thirdparty/g2o_new/build/
Thirdparty/g2o_new/install/
Thirdparty/g2o_new/config.h
Thirdparty/g2o_new/lib/

Thirdparty/Pangolin 

Thirdparty/opencv
Thirdparty/pcl

Thirdparty/LineSfM/build/

Thirdparty/voxblox/include/Block.pb.h
Thirdparty/voxblox/include/Layer.pb.h
Thirdparty/voxblox/include/kindr

Thirdparty/depthai-core
Thirdparty/rerun 

ros_ws/
ros2_ws/

Vocabulary/ORBvoc.txt
Vocabulary/ORBvoc.bin
Vocabulary/bin_vocabulary

build/
lib/


#cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
time*
Time*
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

Thirdparty/fastfusion/include/
Thirdparty/volumetric_mapping/include/

test/octree_change_detection

Scripts/associations.txt
Scripts/transformation.txt
Scripts/CameraTrajectory.png
Scripts/CameraTrajectory.txt
Scripts/KeyFrameTrajectory.png
Scripts/*.ply
Scripts/*.atlas 
Scripts/*.dat 
Scripts/run_euroc_mh
Scripts/__pycache__
Scripts/f_dataset*
Scripts/kf_dataset*
Scripts/receivedCalibration.txt
Scripts/debug.txt
Scripts/*.map

Benchmarking/results*
Benchmarking/test*

Performances.txt
precision_recall
test/test_frame
test/test_line_descriptors
test/test_line_extraction
test/test_line_extraction2
test/test_line_matching
test/test_line_representation
test/test_convert_ply_triangles
test/test_eigen_info
test/test_fast_meshing
test/test_object_tracking
test/test_pangolin
test/test_signal
test/test_simple
test/test_sim3
test/test_stereo
test/test_stereo_gpu
test/simpletest
test/test_crop_box_old
test/test_eigen_load_save
test/test_line_matching2
test/test_rotate_cloud
test/test_rotate_mesh
test/test_pointers
test/test_texture_mapping
test/test_fast_line_extraction 
test/test_texture_mapping_kinfu


*lock.GOALS*

housekeeping/ 
Results/ 

.cache

*.ply
*.dat 

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Other files 

.~lock.GOALS*

# Calibration
Examples/Calibration/recorder-*
