<?xml version="1.0" encoding="utf-8"?>
<launch>
  
  <arg name="desired_width"      default="1280"/>  
  <arg name="desired_height"     default="720"/>     
  
  <arg name="json_file_path"      default="$(find realsense2_camera)/launch/HighResHighDensityPreset.json"/>    
  
  <include file="$(find plvs)/launch/d435.launch">
	  
		<arg name="desired_width" value="$(arg desired_width)" />
		<arg name="desired_height" value="$(arg desired_height)" />  

	    <arg name="json_file_path" value="$(arg json_file_path)"/>				   		
		
  </include>

</launch>
