<?xml version="1.0" encoding="utf-8"?>

<launch>
   
    <arg name="bag"  default="$(find image_view)/test.bag" />
    <arg name="image_topic"  default="/camera/image_raw" />
      
    <!--node pkg="rosbag" type="play" name="rosbag" required="true">
		<arg name="bag"  value="$(arg bag)" />
	</node-->	
    
    <node name="image_saver" pkg="image_view" type="image_saver" respawn="false" required="true" output="screen" cwd="ROS_HOME">
		<remap from="image" to="$(arg image_topic)"/>
		<param name="~filename_format" type="string" value="%04i.png" />		
    </node>
    
</launch>
